.banner-img{
    width: 100%;
    height: 450px;
    background: grey;
    position: relative;

    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title{
        // background: red;
        position: absolute;
        color: white;
        top: 40%;
        width: 100%;
        text-align: center;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($corporate-blue, 0.5);
    }

    @media screen and (max-width: 768px) {
        height: 250px;
        .title{
            top: 20%;
            font-size: 30px;
        }
    }
}

.banner-buttons{
    width: 100%;
    height: 180px;
    // background: red;
    position: absolute;
    bottom: -75px;
    display: flex;
    justify-content: center;
    align-items: center;

    .link-item{

        cursor: pointer;
        height: 100%;
        width: 150px;
        margin: 0 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .icon{
            flex-grow: 1;
            display: flex;
            height: 100%;
            width: 100%;
            background: #3BB44B;
            font-size: 50px;
            justify-content: center;
            align-items: center;
            color: white;
            &.red{
                background: red;
            }
            &.orange{
                background: #e0ab05;
            }
        }
        .name{
            font-weight: bold;
            font-size: 20px;
            color: black;
        }

        &:hover, &.active{
            text-decoration: none;
            // background: $corporate-blue;
            .name{
                color: $corporate-blue;
            }
            .icon{
                background: $corporate-blue-dark;
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: 100px;
        bottom: -60px;
        // background: red;
        .link-item{
            width: 100px;
            margin: 0 10px;
            .icon{
                font-size: 40px;
            }
            .name{
                font-size: 15px;
            }
        }    
    }
}  