.content{
    margin-top: $header-height * 1.1;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background: white;
    // padding-bottom: 100px;

    $margin: 0;
    // overflow: hidden;
    position: relative;

    @media screen and (max-width: 768px) {
        margin-top: $header-height * 0.8;
        margin-left: $margin;
        margin-right: $margin;
        margin-bottom: $margin;
    }

}

.footer{
    height: auto;
    width: 100%;
    background: grey;
    padding: 30px 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;

    @media screen and (max-width: 768px) {
        padding: 10px;
        font-size: 11px;
        h4{
            font-size: 15px;
        }
        .right-text{
            text-align: center;
        }
    }
}