.search-form{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{
        font-weight: 400;
        color: $corporate-blue;
        margin-bottom: 10px;
    }

    .form-group{
        width: 100%;
        height: 60px;
        position: relative;
        margin-bottom: 0;

        .fa{
            position: absolute;
            left: 0;
            top: 0;
            color: $corporate-blue;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 2px solid $corporate-blue;
            border-right-color: transparent;
            font-size: 18px;
        }

        .form-control{
            height: 100%;
            border-radius: 0;
            border: 2px solid $corporate-blue;
            color: $corporate-blue;
            padding-left: 70px;
        
            &:focus{
                box-shadow: none;
            }

            &::placeholder{
                color: $corporate-blue;
            }
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 80px;
        h3{
            font-size: 20px;
        }

        .form-group{
            height: 50px;
            .fa{
                height: 100%;
                width: 50px;
                border-width: 1px;
            }
            .form-control{
                border-width: 1px;
                padding-left: 55px;
            }
        }
    }
}