/*
* This file contains the various header designs for w3msys.
* The headers are of different styles, just choose on of the classes
*/
.w3msys-header-1{
    width: 100%;
    height: $header-height;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 1px 1px 5px rgba(black, 0.1);
    .brand{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        h4{
            &.lighten{
                font-weight: 200;
            }
        }
    }

    .go-back{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(black, 0.1);
        a{
            color: white;
            font-size: 25px;
        }
    }

    .logo{
        width: $header-height * 1.2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
        
    }
    
    .navigation{
        flex-grow: 1;
        .top{
            height: 40%;
            position: relative;
        }
        .nav-links{
            height: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        height: $header-height * 0.8 !important;

        .brand{
            width: 120px;
            // display: none;
            h4{
               font-size: 13px;
            }
        }

        .logo{
            width: $header-height * 0.8;
        }
    }
}

