.search-list{
    list-style-type: none;
    li{
        // background: red;
        margin: 30px;
        height: 120px;
        display: flex;
        cursor: pointer;
        
        img{
            height: 100px;
            width: 100px;
            // border-radius: 5px;
            object-fit: cover;
        }
        .info{
            // background: purple;
            flex-grow: 1;
            margin-left: 15px;
            color: $corporate-blue;
            border-bottom: 1px solid grey;

            .name,.price{
                font-weight: 300;
                font-size: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        // background: red;
        margin: 0;
        padding: 0;
        li{
            margin: 30px 0px;
            height: 90px;
            img{
                height: 80px;
                width: 80px;
            }
            .info{
                .name,.price{
                    font-size: 14px;
                }
                h3{
                    font-size: 17px;
                }
            }
        }
    }
}