html, body{
    overflow-x: hidden;
}

html{
    // background: $corporate-blue;
}

.advanced-search{
    padding: 10px;
    a{
        color: $corporate-blue;
        // background: red
        &:hover{
            text-decoration: none;
            color: $modal-color;
            #adv{
                fill: $modal-color;
            }
        }
    }
}


.hotel{
    // background: red;
    margin-top: $header-height * 1.5;
}

.advanced-search-section{
    padding-bottom: 100px;
    color: $corporate-blue-light;
    .header{
        background: $corporate-blue-light;
        color: white;
        padding: 20px 50px;
        a{
            width: 35px;
            height: 35px;
            background: grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .body{
        h5{
            // color: red;
            margin-bottom: 20px;
        }
        padding: 20px 50px;
        // background: yellow;
        .row{
            margin-bottom: 50px;
        }
        .form-group, .input-group{
            border-radius: 0;
            .form-control{
                border: none;
                border-bottom: 2px solid $corporate-blue-light;
                border-radius: 0;
                &:focus{
                    box-shadow: none;
                }
            }

            label{
                cursor: pointer;
            }
            .input-group-prepend{
                // background: red;
                .input-group-text{
                    padding-left: 0;
                    border-radius: 0;
                    border: none;
                    background: transparent;
                    color: $corporate-blue-light;
                    b{
                        color: $corporate-blue-light;
                        margin-right: 30px;
                    }
                }
            }
        }
        .submit{
            background: $corporate-blue;
            color: white;
            border-radius: 0;
            padding: 10px;
            border: 2px solid transparent;
            &:hover{
                background: transparent;
                color: $corporate-blue-light;
                border-color: $corporate-blue-light;
            }
        }
    }
}

#w3msysModal{

    .floating-close{
        background: $modal-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 100px;
        top: 100px;
        color: white;
        border-radius: 50%;
        // transition: all 0.5s ease;

        &:hover{
            text-decoration: none;
            background: red;
        }
    }

    .modal-dialog{
        border-radius: 0;
        // background: red;
        // display: flex;
    }
    .modal-content{
        border-radius: 0;
        background: $modal-color;
        color: white;
        padding: 30px;
        width: 80%;
        margin: auto;
        
        .modal-body{
            display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            // background: red;
        }
        .links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            a{
                display: block;
                color: white;
                &.phone{
                    &:hover{
                        text-decoration: none;
                    }
                }
                margin-bottom: 7px;
                .icon{
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: white;
                    margin-right: 5px;
                    
                    // font-size: 11px;
                    // border: 2px solid white;
                    // background: red;
                    .fa{
                        padding-left: 5px;
                        padding-top: 2px;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        font-size: 10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: white;
                        color: $modal-color;
                        margin: auto;
                        border: 1px solid $modal-color;
                        position: relative;
                        top: -4px;
                        left: 2px;
                        padding-right: 5px;
                    }
                }
            }
        }
        .tnc{
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
        }
        }
    }
}