.theme-coporate-blue{
    background: $corporate-blue;
    &.with-top-border{
        height: $header-height * 1.15;
        border-top: 15px solid $corporate-blue-dark;
        @media screen and (max-width: 768px) {
            border-top-width: 10px;
            // border: none;
        }
    }

    .brand{
        color: white;
        background: rgba(black, 0.1);
    }

    .logo{
        background: $corporate-blue-dark;
        color: white;
    }
    
    .navigation{
        flex-grow: 1;
        .top{
            // background: rgba(black, 0.1);
        }
        .nav-links{
            background: #51217c;
        }
    }
}