<template>
    <div class="row text-center">
        <div class="col-sm-4">
            Conference
        </div>
        <div class="col-sm-4">
            Pool
        </div>
        <div class="col-sm-4">
            Gym
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        // console.log(this.$route.params)
    }
}
</script>
