<template>
    <div class="row" style="flex-wrap:wrap;margin-bottom:50px;">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        <img class="gallery-item" src="/static/img/25.jpg">
        
    </div>
</template>

<script>
export default {
    mounted () {
        // console.log(this.$route.params)
    }
}
</script>
<style>
.gallery-item{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
}
</style>
