<template>
    <header class="w3msys-header-1 with-top-border theme-coporate-blue">
        <div class="go-back">
            <a href="javascript:void(0)" @click="goBack" v-if="$route.name !== 'welcome'">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="brand">
            <h4 class="lighten">GHANA HOTELS</h4>
            <h4>DIRECTORY</h4>
        </div>
        <div class="logo">
            <img src="/static/icons/icon_white_big.png">
        </div>
        <div class="navigation">
            <div class="top">
                <a @click="showW3msysModal" href="javascript:void(0)" class="float-right mr-5 mt-1" style="display:inline-block;color:white;">
                    Powered By <b>W3MSYS</b>
                </a>
            </div>
            <div class="nav-links">
                
            </div>
        </div>
    </header>
</template>

<script>
export default {
    methods: {
        showW3msysModal () {
            $('#w3msysModal').modal('show')
        }  ,
        goBack () {
            this.$router.go(-1)
        }
    }
}
</script>
