<template>
    <div>
        <div class="content">
            <div class="banner-img">                
                <img src="/static/img/25.jpg">
                <h1 class="title">Golden Tulip Hotel</h1>
                <div class="banner-buttons">

                    <router-link :to="{name: 'room-type'}" tag="a" href="javascript:void(0)" class="link-item" active-class="active">
                        <span class="icon">
                            <app-icon-room-type></app-icon-room-type>
                        </span>
                        <span class="name">
                            ROOM TYPE
                        </span>
                    </router-link>

                    <router-link :to="{name: 'facilities'}" tag="a" href="javascript:void(0)" class="link-item">
                        <span class="icon orange">
                            <app-icon-facility></app-icon-facility>
                        </span>
                        <span class="name">
                            FACILITIES
                        </span>
                    </router-link>

                     <router-link :to="{name: 'gallery'}" tag="a" href="javascript:void(0)" class="link-item">
                        <span class="icon red">
                            <app-icon-gallery></app-icon-gallery>
                        </span>
                        <span class="name">
                            GALLERY
                        </span>
                    </router-link>

                </div>
            </div>

            <div class="row justify-content-center" >
                <div class="col-12 col-sm-10 col-md-10  col-lg-10 col-xl-10">
                   <div class="hotel">
                        <router-view></router-view>
                   </div>
                </div>
            </div>
        </div>

       <div class="footer">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h4>Contact</h4>
                    <div class="row">
                        <div class="col-3">
                            +233547406827    
                        </div>
                        <div class="col-3">
                            +233547406827    
                        </div>
                        <div class="col-6 right-text">
                            www.goldentulip.com  
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Rating</h4>
                    <div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        this.$uiHelper.windowHeight('.content')
    }
}
</script>
