<template>
    <div class="row text-center">
        <div class="col-sm-4">
            <h4>REGULAR</h4>
            <p>GHC 150 per night</p>
        </div>
            <div class="col-sm-4">
            <h4>MODERATE</h4>
            <p>GHC 150 per night</p>
        </div>
            <div class="col-sm-4">
            <h4>EXECUTIVE</h4>
            <p>GHC 150 per night</p>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        // console.log(this.$route.params)
    }
}
</script>
