<template>
    <div>
        <div class="content">
            <div class="banner-img">                
                <img src="/static/img/25.jpg">
                <h1 class="title">Find the Hotel that gives you comfort!</h1>
                <!-- <div class="banner-buttons">

                    <a href="javascript:void(0)" class="link-item">
                        <span class="icon">
                            <i class="fa fa-home"></i>
                        </span>
                        <span class="name">
                            ROOM TYPE
                        </span>
                    </a>

                     <a href="javascript:void(0)" class="link-item">
                        <span class="icon orange">
                            <i class="fa fa-home"></i>
                        </span>
                        <span class="name">
                            FACILITIES
                        </span>
                    </a>

                     <a href="javascript:void(0)" class="link-item">
                        <span class="icon red">
                            <i class="fa fa-photo"></i>
                        </span>
                        <span class="name">
                            GALLERY
                        </span>
                    </a>

                </div> -->
            </div>

            <div class="row justify-content-center">
                <div class="col-10 col-sm-10 col-md-10  col-lg-9 col-xl-8">
                    <div class="search-form">
                        <h3 class="text-center">Tell Us What You’re Looking For</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" v-model="searchTerm">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>

                    <div class="advanced-search text-right">
                        <a href="javascript:void(0)" @click="allowAdvanceSearch(true)">
                            <app-icon-adv-search></app-icon-adv-search>
                            Advanced Search
                        </a>
                    </div>

                    <ul class="search-list">
                        <router-link :to="{name: 'room-type', params: {hotel_id: 1}}" tag="li">
                            <img src="/static/img/25.jpg">
                            <div class="info">
                                <h4 class="name">Kumasi</h4>
                                <h3>La Palm Royal Beach Hotel</h3>
                                <h4 class="price">GHC 150/night 
                                    <span class="float-right">
                                        <i class="fa fa-star" style="color:#e0ab05;"></i>
                                        <i class="fa fa-star" style="color:#e0ab05;"></i>
                                        <i class="fa fa-star" style="color:#e0ab05;"></i>
                                        <i class="fa fa-star" style="color:#e0ab05;"></i>
                                        <i class="fa fa-star" style="color:#e0ab05;"></i>
                                    </span></h4>
                            </div>
                        </router-link>
                    </ul>
                </div>
            </div>
            <div id="advHere"></div>
            <div class="advanced-search-section mt-5" v-show="advanceSearch" id="adv">
                <h4 class="header">
                     ADVANCED SEARCH 
                    <a href="javascript:void(0)" @click="allowAdvanceSearch(false)" class="float-right" >
                        <i class="fa fa-times"></i>
                    </a>
                </h4>
                <div class="body">
                    <form @submit.prevent="">
                        <h5>BASIC INFO</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Hotel Name" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Region" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Town/City" type="text">
                                </div>
                            </div>
                        </div>

                        <h5>RATING</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>5 Stars</option>
                                        <option>4 Stars</option>
                                        <option>3 Stars</option>
                                        <option>2 Stars</option>
                                        <option>1 Star</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h5>PRICING</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <b>Minimum:</b> GHC
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="e.g 100" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <b>Maximum:</b> GHC
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="e.g 400" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <h5>ROOM TYPE</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input name="room-type" type="radio" id="regular">
                                    <label for="regular">Regular</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input name="room-type" type="radio" id="moderate">
                                    <label for="moderate">Moderate</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input name="room-type" type="radio" id="executive">
                                    <label for="executive">Executive</label>
                                </div>
                            </div>
                        </div>

                        <h5>FACILITIES</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input  type="checkbox" id="conference">
                                    <label for="conference">Conference</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input  type="checkbox" id="pool">
                                    <label for="pool">Pool</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input  type="checkbox" id="gym">
                                    <label for="gym">Gym</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input  type="checkbox" id="restaurant">
                                    <label for="restaurant">Restaurant</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input  type="checkbox" id="bar">
                                    <label for="bar">Bar</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <button class="btn btn-block submit">
                                    DONE
                                </button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            advanceSearch: false,
            searchTerm: '',
            advSearch: {
                
            }
        }
    },
    mounted () {
        this.$uiHelper.windowHeight('.content')
    },
    methods: {
        allowAdvanceSearch (show) {
            this.advanceSearch = show
            let offsetTop = show ? $('#advHere')[0].offsetTop : 0

            $('html, body').animate({
                scrollTop: offsetTop
            },500);
        }
    }
}
</script>
