<template>
<svg class="svg-icon sm"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120">
  <defs>
    <path  id="a" d="M79.2 40.8H92V27.9h25.6V15.1H92.1V2.3H79.2v38.5zm38.5 25.6V53.6H53.6v12.8h64.1zM27.9 40.8v12.8H2.3v12.8h25.6v12.8h12.8V40.8H27.9zm38.5 76.9v-12.8h51.3V92.1H66.4V79.2H53.6v38.5h12.8zM2.3 15.1v12.8h64.1V15.1H2.3zm0 77v12.8h38.5V92.1H2.3z"/>
  </defs>
  <clipPath id="b">
    <use xlink:href="#a" overflow="visible"/>
  </clipPath>
  <g clip-path="url(#b)">
    <defs>
      <path id="c" d="M-16.9-16.9H137V137H-16.9z"/>
    </defs>
    <clipPath id="d">
      <use xlink:href="#c" overflow="visible"/>
    </clipPath>
    <g clip-path="url(#d)">
      <defs>
        <path id="e" d="M-16.9-16.9H137V137H-16.9z"/>
      </defs>
      <clipPath id="f">
        <use xlink:href="#e" overflow="visible"/>
      </clipPath>
      <g clip-path="url(#f)">
        <defs>
          <path id="g" d="M-16.9-16.9H137V137H-16.9z"/>
        </defs>
        <clipPath id="h">
          <use xlink:href="#g" overflow="visible"/>
        </clipPath>
        <g clip-path="url(#h)">
          <defs>
            <path id="i" d="M-4.1-4.1h128.2v128.2H-4.1z"/>
          </defs>
          <clipPath id="j">
            <use xlink:href="#i" overflow="visible"/>
          </clipPath>
          <path id="adv" clip-path="url(#j)" fill="#dd9007" d="M-81-81h282.1v282.1H-81z"/>
        </g>
      </g>
    </g>
  </g>
</svg>
</template>
