<template>
<svg id="Layer_1" class="svg-icon md facility" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120">
  <defs>
    <path id="SVGID_1_" d="M1.1.4h119.8v119.8H1.1z"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_" overflow="visible"/>
  </clipPath>
  <path class="st0" d="M98.3 59.5v54.3H22.1V59.5M6.4 59.5L60.2 5.6 114 59.5"/>
  <g>
    <defs>
      <path id="SVGID_3_" d="M-5.2-5.9h132.4v132.4H-5.2z"/>
    </defs>
    <clipPath id="SVGID_4_">
      <use xlink:href="#SVGID_3_" overflow="visible"/>
    </clipPath>
    <path class="st1" d="M61 60.3v33.1M44.5 76.8h33.1-33.1z"/>
  </g>
</svg>
</template>

<style>
.facility .st0, .facility .st1{
        clip-path:url(#SVGID_2_);
        fill:none;
        stroke:#fff;
        stroke-width:6;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10
        }
        .facility .st1{
            clip-path:url(#SVGID_4_)
        }
</style>
