<template>
    <svg id="Layer_1" class="svg-icon md gallery" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120">
  <defs>
    <path id="SVGID_1_" d="M2.7 9h115.6v104.4H2.7z"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_" overflow="visible"/>
  </clipPath>
  <path class="st0" d="M18.4 24.9h96.1v84.8H18.4z"/>
  <path class="st0" d="M4.1 95.3V10.4h96.1M36.5 85.5h60.1L80.1 55.2 66.5 73.8 51 63.6z"/>
</svg>
</template>

<style>
    .gallery .st0{
        clip-path:url(#SVGID_2_);
        fill:none;
        stroke:#fff;
        stroke-width:6;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10
    }
  </style>