<template>
    <svg id="Layer_1" class="svg-icon md room-type" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120">
  <defs>
    <path id="SVGID_1_" d="M.4-.4h121.2v121.2H.4z"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_" overflow="visible"/>
  </clipPath>
  <path class="st0" d="M98.7 59.5v55h-77v-55M5.7 59.5L60.2 5l54.5 54.5"/>
</svg>
</template>

 <style>
    .room-type .st0{clip-path:url(#SVGID_2_);fill:none;stroke:#fff;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
  </style>