<template>
  <div id="app">
    <app-header></app-header>
    <router-view/>

     <div class="modal fade" id="w3msysModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <a href="javascript:void(0)" @click="closeW3msysModal" class="floating-close"><i class="fa fa-close"></i></a>
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <h3>About W3MSYS</h3>
                <p>
                  W3MSYS is a registered company in Ghana, and specializes in
                  application of computing, mathematics, engineering, creative arts and
                  evolutionary biology in developing information technology tools and
                  systems for solving everyday problems in industries, schools,
                  workplaces, playing grounds and home.
                </p>
                <div class="links">
                  <a href="javascript:void(0)" class="phone">
                    <span class="icon">
                      <i class="fa fa-phone"></i>
                    </span>
                    +233 54 391 3833
                  </a>

                  <a href="mailto:info@w3msys.com">
                    <span class="icon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    info@w3msys.com
                  </a>
                  
                  <a href="https://www.w3msys.com" target="blank">
                    <span class="icon">
                      <i class="fa fa-globe"></i>
                    </span>
                    www.w3msys.com
                  </a>
                </div>
                <a href="https://www.w3msys.com/#/terms-and-conditions" target="blank" class="tnc">
                  Terms and Conditions
                </a>
            </div>
            </div>
        </div>
        </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    closeW3msysModal () {
      $('#w3msysModal').modal('hide')
    }
  }
}
</script>

<style>

</style>

